* {
  margin: 0;
  padding: 0;
}

:root {
  --Min-height: calc(100vh - 16px);
}

/*
 ! FUENTES

.knewave-regular {
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}

.madimi-one-regular {
  font-family: "Madimi One", serif;
  font-weight: 400;
  font-style: normal;
} */

.Section {
  min-height: var(--Min-height);
  background-color: #F0F0F0;
  scroll-snap-align: start;
  padding: 8px;
}

.Section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--Min-height);
}

.Sections {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main .vllogo {
  width: 50%;
  max-width: 200px;
}

.Main .Indicator {
  pointer-events: none;
  position: fixed;
  bottom: 5vh;
  z-index: 100;
  height: auto !important;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.Main .Indicator.Animated {
  animation: animateOpacity 2s infinite alternate;
}

.Main .vllogo.Hidden {
  animation: removeOpacity .1s ease-in-out;
  animation-fill-mode: forwards;
}

.Main .Indicator .Label {
  pointer-events: none;
  font-family: "Itim", serif;
  color: #434343;
  font-size: 1.5rem;
  text-align: center;
  line-height: 110%;
}

.Main .Indicator svg {
  pointer-events: none;
  width: 4rem;
  height: 4rem;
}

.Section > div .Title {
  font-family: "Knewave", serif;
  color: #7B95FF;
  text-shadow: black 2px 2px 0;
  font-size: 2.7rem;
  text-align: center;
  line-height: 110%;
  margin-bottom: calc(2.25rem - 4px);
}

.Section > div .Description {
  padding: 4px;
  font-family: "Madimi One", serif;
  color: black;
  font-size: 1.35rem;
  max-width: 500px;
  text-align: center;
  line-height: 115%;
}

.Integrantes div > .Handler, .CardHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  padding: 5px;
}

.CardHolder {
  padding: 0px;
}

.Handler:has(.Open) > .CardHolder:not(.Open) {
  display: none;
}

.Open > .Card {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Open > .Card > div > p, .Open > .Card > div > h1, .Open > .Card > div > h3 {
  text-align: center !important;
}

.Open > .Card > div > h1 {
  text-decoration: underline;
}

.Open > .Card > .Redes {
  margin-bottom: 10px;
}

.Open > .Card > div:first-child {
  margin-top: 10px;
}

.Card {
  padding: 5px;
  padding-inline: 10px;
  background-color: #D9D9D9;
  margin-bottom: 5px;
  width: calc(100% - 20px);
  transition: all .2s ease-in-out;
}

.CardHolder:last-child > .Card {
  margin-bottom: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.CardHolder:first-child > .Card{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.Card h1 {
  font-family: "Itim", serif;
  font-size: 1.6rem;
}

.Card h3, p {
  font-family: "Itim", serif;
  font-size: 1.4rem;
  opacity: .6;
}

.Card p {
  opacity: 1;
  font-size: 1.3rem;
}

.Redes > svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 5px;
}

.Redes > svg:last-child {
  margin-right: 0;
}

@keyframes animateOpacity {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes removeOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}

/* @keyframes main-animation {
  0% {
    width: 100%;
    position: sticky;
    padding-right: 0;
    bottom: 0px;
    background: transparent;
  }
  100% {
    width: 100%;
    position: sticky;
    padding-right: 50%;
    bottom: calc(((50vh - ( 100vh * 50% )) + 50vh) - 50px);
    background: transparent;
  }
}

@keyframes logo-animation {
  0% {
    width: 50%;
    padding-right: 0;
    background-color: transparent;
  }
  100% {
    width: 25%;
    padding-right: 75%;
    background-color: #DCDCDC;
  }
} */